POSTGRES_DB=arcanum_marketing
POSTGRES_USER=arcanum_marketing
POSTGRES_PASSWORD=GENERATE_WITH_SETUP_SCRIPT
N8N_ENCRYPTION_KEY=GENERATE_WITH_SETUP_SCRIPT
N8N_PORT=5678
PEXELS_API_KEY=CREATE_IN_PEXELS_DASHBOARD
